body {
  margin : 0px;
  padding :10px;
  min-width : 400px;
}
input {
  width : 100%;
  height : 40px;
  border-width : 2px;
  border-color : green;
  border-style : solid;

  padding : 10px;
  box-sizing : border-box;
}

button {
  background : green;

  width : 170px;
  height: 40px;
  border : 2px solid green;
  margin-top : 7px;
  color : white;
  font-size : 17px;
  font-weight : bold;
}
ul {
  padding-left : 0px;
  list-style : none;
  font-size : 20px;  
}
 
li {
  margin-top : 5px;
}
li a{
  color : green;
}
#dlt-el {
  background : white;
  color : green;


 
}